<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Verky"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.dashboard.publicprofilefragment.PublicProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.dashboard.chatfragment.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.dashboard.chatfragment.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.dashboard.profilefragment.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.dashboard.DashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.view.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>